<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.ssyx.activity.mapper.CouponInfoMapper">
    <resultMap id="CouponInfoMap" type="com.my.ssyx.model.activity.CouponInfo" autoMapping="true"></resultMap>
    <!--    //2.根据skuId+userId查询优惠卷信息-->
    <select id="selectCouponInfoList" resultMap="CouponInfoMap">
        SELECT info.id,info.coupon_type,info.coupon_name,info.amount,
               info.condition_amount,info.start_time,info.end_time,
               info.range_type,info.range_desc,info.publish_count,
               info.per_limit,info.use_count,info.receive_count,
               info.expire_time,info.publish_status,info.create_time,
               info.update_time,info.is_deleted
             ,cuse.coupon_status
        from coupon_info info
        LEFT JOIN coupon_range crange on info.id =crange.coupon_id
        LEFT JOIN coupon_use cuse on cuse.coupon_id=info.id  and cuse.user_id=#{userId}
        WHERE (info.range_type=1 or
               (info.range_type=2 and crange.range_id=#{skuId})
            or(info.range_type=3 and crange.range_id=#{categoryId}))
          and info.is_deleted=0 and crange.is_deleted=0
          and now() BETWEEN info.start_time and info.end_time
        ORDER BY info.amount DESC
    </select>

    <select id="selectCartCouponInfoList" resultMap="CouponInfoMap">
        SELECT info.id,info.coupon_type,info.coupon_name,info.amount,info.condition_amount,info.start_time,
               info.end_time,info.range_type,info.range_desc,
               info.publish_count,info.per_limit,info.use_count,
               info.receive_count,info.expire_time,info.publish_status,info.create_time,info.update_time,info.is_deleted
                ,cuse.coupon_status
        from coupon_use cuse
                          INNER JOIN coupon_info info ON cuse.coupon_id=info.id
        <where>
            and cuse.user_id=#{userId}
            and info.expire_time >=NOW()
        </where>
        ORDER BY info.amount DESC
    </select>
</mapper>
